{% extends 'main/base.html' %}

{% block content %}
  <h1>Filtrovat nabídky nemovitostí</h1>
  
  <form method="get" action="{% url 'filtrovani' %}">
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Filtruj</button>
  </form>

  {% if nemovitosti %}
    <h2>Vyfiltrované nabídky:</h2>
    <div class="row mt-3">
      {% for nemovitost in nemovitosti %}
        <div class="col-sm-6">
          <div class="card">
            {% if nemovitost.obrazek %}
              <img src="{{ nemovitost.obrazek.url }}" class="card-img-top" alt="{{ nemovitost.nazev }}" height="400">
            {% else %}
              <img src="https://via.placeholder.com/400x400" class="card-img-top" alt="Bez obrázku" height="400">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ nemovitost.nazev }} <strong>{{ nemovitost.cena }} Kč</strong></h5>
              <p class="card-text">{{ nemovitost.lokalita.nazev }}</p>
              <a href="{% url 'detail' nemovitost.id %}" class="btn btn-primary">Bližší popis</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}

