{% extends 'main/base.html' %}

{% block content %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>bytovypronajem</title>
</head>
<body>

<h1>Aktuální nabídky</h1>

<div class="row mt-3">
    {% for nemovitost in nabidky %}
        <div class="col-sm-6">
            <div class="card">
                {% if nemovitost.obrazek %}
                    <img src="{{ nemovitost.obrazek.url }}" class="card-img-top" alt="{{ nemovitost.nazev }}" height="400">
                {% else %}
                    <img src="https://via.placeholder.com/400x400" class="card-img-top" alt="Bez obrázku" height="400">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ nemovitost.nazev }} <strong>{{ nemovitost.cena }} Kč</strong></h5>
                    <p class="card-text">{{ nemovitost.lokalita.nazev }}</p>
                    <a href="{% url 'detail' nemovitost.id %}" class="btn btn-primary">Bližší popis</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
